@using BookLibrary.Models;
@model BookLibrary.Models.Book

@{
    ViewBag.Title = "Delete a book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete @Html.ActionLink(Model.Title, "../Books/Details/" + Model.Id, "Books", htmlAttributes: new { @class = "bookTitleUserDetails" })?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
